<!doctype HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %} - Contents Converter</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    
    <link rel="stylesheet" href="{{ asset('bundles/urbantcconvert/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/urbantcconvert/bootstrap/css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/urbantcconvert/style.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/urbantcconvert/js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/urbantcconvert/bootstrap/js/bootstrap.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">   
</head>

<body>

    <div class="container">
    
        <header class="row">
            <h1>Contents Converter</h1>
            
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">

                        <ul class="nav">
{% for menuCatId, menuCat in _menues %}
        {% set isCurrentCat = (menuCatId == _catId) ? 1 : 0 %}
        {% set menuClass = isCurrentCat ? 'active' : '' %}
        {% set subMenuDivClass = isCurrentCat ? 'show' : '' %}
        <li class="{{ menuClass }}"><a href="{{ menuCat.url }}">{{ menuCat.name }}</a></li>
{% endfor %}
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown" id="menu1">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">ユーザー：{{ app.user.username }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="subnav ">
                    <div class="subnav-inner ">
                        <div class="container">
                            <ul class="nav nav-pills subnav-menues">
{% for subMenuCatId, subMenuCat in _subMenues %}
                                <li><a href="{{ subMenuCat.url }}">{{ subMenuCat.name }}</a></li>
{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
    
        <div id="body" class="row">
            <div class="span12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        
        <footer>
        </footer>
    
    <!-- /container -->
    </div>

</body>

</html>
