{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}

<div class="row">

    <h1>Contents</h1>
    
    <div class="well">
        <form class="form-horizontal" action="{{ path('UrbantCConvertBundle_content_list') }}" method="GET" >
        {{ form_widget(search_form) }}
        
        <input type="submit" value="SEARCH"  class="btn-primary" />
        
        </form>
    </div>
    
    
    <div class="pagination">
    {{ pagerfanta(pager, 'twitter_bootstrap') }}
    </div>


{% if app.session.hasFlash('content_list_message') %}
    <div class="alert alert-success">{{ app.session.flash('content_listmessage') }}</div>
{% endif %}

    <form action="{{ path('UrbantCConvertBundle_content_batch') }}" method="POST" >
        <table class="table table-bordered table-striped" >
        <tr>
            <th ><a id="toggle-all" ></a> </th>
            <th ><a href="">Rule</a>   </th>
            <th ><a href="">Title</a>   </th>
            <th ><a href="">Status</a></th>
            <th ><a href="">Created</a></th>
            <th ><a href="">Download</a></th>
        </tr>
{% for content in contents %}
        <tr>
            <td><input type="checkbox" name="ids[]" value="{{ content.id }}" /></td>
            <td>{% if content.rule %}
                    <a href="{{ path('UrbantCConvertBundle_rule_edit', {'id': content.rule.id}) }}">{{ content.rule.name }}</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ content.title }}</td>
            <td>{{ content.getStatusName(content.status) }}</td>
            <td>{{ content.created|date('Y-m-d H:i:s') }}</td>
            <td class="options-width">
            {% if content.isDone()  %}
                <a href="{{ path('UrbantCConvertBundle_content_dl', {'id': content.id}) }}" title="Download" ><i class="icon-download"></i>DL</a>
            {% endif %}
            </td>
        </tr>
{% else %}
        <tr>
        <td colspan="6">No item found.</td>
        </tr>
{% endfor %}

        </table>
        
        <div class="pagination">
        {{ pagerfanta(pager, 'twitter_bootstrap') }}
        </div>
        
        <div class="well">
            <select name="type">
                <option value="d">DELETE</option>
            </select>
            
            <input type="submit" name="submit" value="実行" class="btn-warning" />
            
        </div>

    </form>

</div>
{% endblock %}