{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<section class="span8 offset2 well">

    <h2>Login</h2>
    
{% if error %}
    <section class="error">
    <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
    </section>
{% endif %}
    <form action="{{ path('fos_user_security_check') }}" method="post">
        
        <div id="login-form-body">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username" class="form-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password" class="form-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" />

            <label for="remember_me" class="checkbox"><input type="checkbox" class="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

        </div>
        <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        <p><a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a></p>
    </form>

</section>

{% endblock fos_user_content %}
