{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}
    <!--  start page-heading -->
    <div id="page-heading">
        <h1>Rule</h1>
    </div>
    <!-- end page-heading -->

<div class="well">
    <form action="{{ path('UrbantCConvertBundle_rule_list') }}" method="GET" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
    {{ form_widget(search_form) }}
    
    <input type="submit" value="SEARCH" class="btn-primary" />
    
    </form>
</div>

<div class="row">

{#
    <div class="pagerfanta">
        {{ pagerfanta(my_pager) }}
    </div>
#}

{% if app.session.hasFlash('rule_message') %}
                <!--  start message-green -->
                <div id="message-green">
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="green-left">{{ app.session.flash('rule_message') }}</td>
                    <td class="green-right"><a class="close-green"><img src="{{ asset('bundles/urbantcconvert/images/table/icon_close_green.gif') }}"   alt="" /></a></td>
                </tr>
                </table>
                </div>
                <!--  end message-green -->
{% endif %}

    <form id="mainform" action="{{ path('UrbantCConvertBundle_rule_batch') }}" method="POST" >
        <table class="table table-bordered table-striped">
            <tr>
                <th><a id="toggle-all" ></a> </th>
                <th><a href="">Name</a>   </th>
                <th><a href="">Created</a></th>
                <th><a href="">Options</a></th>
            </tr>
{% for rule in rules %}
            <tr>
                <td><input type="checkbox" name="ids[]" value="{{ rule.id }}" /></td>
                <td><a href="{{ path('UrbantCConvertBundle_rule_edit', {'id': rule.id}) }}">{{ rule.name }}</a></td>
                <td>{{ rule.created|date('Y-m-d H:i:s') }}</td>
                <td>
                <a href="" title="Edit"></a>
                <a href="" title="Edit"></a>
                </td>
            </tr>
{% else %}
            <tr>
                <td colspan="4">No item found.</td>
            </tr>
{% endfor %}
        </table>
    
        <!--  start actions-box ............................................... -->
        <div class="well">
            <select name="type">
                <option value="d">DELETE</option>
            </select>
            
            <input type="submit" name="submit" value="実行" />
            
        </div>
        <!-- end actions-box........... -->
    </form>

            <!--  start paging.....................................................
            <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
            <tr>
            <td>
                <a href="" class="page-far-left"></a>
                <a href="" class="page-left"></a>
                <div id="page-info">Page <strong>1</strong> / 15</div>
                <a href="" class="page-right"></a>
                <a href="" class="page-far-right"></a>
            </td>
            <td>
            <select  class="styledselect_pages">
                <option value="">Number of rows</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
            </td>
            </tr>
            </table>
            <!--  end paging................ -->
            
</div>

{% endblock %}