{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}

<div class="row">

    <h1>Rule</h1>

    <div class="well">
        <form action="{{ path('UrbantCConvertBundle_rule_list') }}" method="GET" class="form-horizontal">
            <fieldset>
                <legend>Search</legend>
        {{ form_widget(search_form) }}
        
        <input type="submit" value="SEARCH" class="btn-primary" />
        
        </form>
    </div>


    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap') }}
    </div>

{% if app.session.hasFlash('rule_message') %}
    <div class="alert alert-success">{{ app.session.flash('rule_message') }}</div>
{% endif %}

    <form id="mainform" action="{{ path('UrbantCConvertBundle_rule_batch') }}" method="POST" >
        <table class="table table-bordered table-striped">
            <tr>
                <th><a id="toggle-all" ></a> </th>
                <th><a href="">Name</a>   </th>
                <th><a href="">Created</a></th>
                <th><a href="">Options</a></th>
            </tr>
{% for rule in rules %}
            <tr>
                <td><input type="checkbox" name="ids[]" value="{{ rule.id }}" /></td>
                <td><a href="{{ path('UrbantCConvertBundle_rule_edit', {'id': rule.id}) }}">{{ rule.name }}</a></td>
                <td>{{ rule.created|date('Y-m-d H:i:s') }}</td>
                <td>
                <a href="" title="Edit"></a>
                <a href="" title="Edit"></a>
                </td>
            </tr>
{% else %}
            <tr>
                <td colspan="4">No item found.</td>
            </tr>
{% endfor %}
        </table>
    
        <div class="pagerfanta">
            {{ pagerfanta(pager, 'twitter_bootstrap') }}
        </div>
        
        <!--  start actions-box ............................................... -->
        <div class="well">
            <select name="type">
                <option value="d">DELETE</option>
            </select>
            
            <input type="submit" name="submit" value="実行" />
            
        </div>
        <!-- end actions-box........... -->
    </form>

</div>

{% endblock %}