{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}

<div class="row">
    <h1>Request detail</h1>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Rule:</th>
            <td>
                {% if request.rule %}
                    {{ request.rule.name }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>URL:</th>
            <td>{{ request.url }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ request.getStatusName('-') }}</td>
        </tr>
        <tr>
            <th>Log:</th>
            <td>{{ request.log | nl2br }}</td>
        </tr>
    </table>
    
    <div>
        <input type="button" class="btn" value="編集" onClick="location.href='{{ path('UrbantCConvertBundle_request_edit', {'id': request.id}) }}';""  />
        <input type="button" class="btn" value="戻る" onClick="location.href='{{ path('UrbantCConvertBundle_request_list') }}';"  />
    </div>
    
</div>
{% endblock %}
