{% extends '::base.html.twig' %}

{% block body %}


<div id="page-heading"><h1>Edit request</h1></div>

{% if app.session.hasFlash('request_edit_message') %}
<!--  start message-green -->
<div id="message-green">
<table border="0" width="100%" cellpadding="0" cellspacing="0">
<tr>
    <td class="green-left">{{ app.session.flash('request_edit_message') }}</td>
    <td class="green-right"><a class="close-green"><img src="{{ asset('bundles/urbantcconvert/images/table/icon_close_green.gif') }}"   alt="" /></a></td>
</tr>
</table>
</div>
<!--  end message-green -->
{% endif %}


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
<tr>
    <th rowspan="3" class="sized"><img src="{{ asset('bundles/urbantcconvert/images/shared/side_shadowleft.jpg') }}" width="20" height="300" alt="" /></th>
    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>
    <th rowspan="3" class="sized"><img src="{{ asset('bundles/urbantcconvert/images/shared/side_shadowright.jpg') }}" width="20" height="300" alt="" /></th>
</tr>
<tr>
    <td id="tbl-border-left"></td>
    <td>
    <!--  start content-table-inner -->
    <div id="content-table-inner">
    
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr valign="top">
    <td>
    

<div class="form">

    <form action="{{ path('UrbantCConvertBundle_request_update', {'id': requestId}) }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        
        <input type="submit" value="保存" />
    </form>

</div>


</td>
</tr>
<tr>
<td><img src="{{ asset('bundles/urbantcconvert/images/shared/blank.gif') }}" width="695" height="1" alt="blank" /></td>
<td></td>
</tr>
</table>
 
<div class="clear"></div>
 

{% endblock %}