{% extends 'UrbantCConvertBundle:Common:base.html.twig' %}

{% block body %}
<div class="row">
    <h1>Requets</h1>

    <div class="well">
        <form class="form-horizontal" action="{{ path('UrbantCConvertBundle_request_list') }}" method="GET" >
        {{ form_widget(search_form) }}
        
        <input type="submit" value="SEARCH" class="btn-primary" />
        
        </form>
    </div>
    
{% if app.session.hasFlash('convert_request_message') %}
	<div class="alert alert-success">{{ app.session.flash('convert_request_message') }}</div>
{% endif %}

    <div class="pagination">
        {{ pagerfanta(pager, 'twitter_bootstrap') }}
    </div>

    <form action="{{ path('UrbantCConvertBundle_request_batch') }}" method="POST" >
        <table class="table table-bordered table-striped">
        <tr>
            <th></a> </th>
            <th><a href="">Rule</a>   </th>
            <th><a href="">Title/URL</a></th>
            <th><a href="">Status</a></th>
            <th><a href="">Created</a></th>
        </tr>
{% for request in requests %}
        <tr>
            <td><input type="checkbox" name="ids[]" value="{{ request.id }}" /></td>
            <td>
    {% if request.rule %}
                <a href="{{ path('UrbantCConvertBundle_rule_edit', {'id': request.rule.id}) }}">{{ request.rule ? request.rule.name : '' }}</a>
    {% else %}
        -
    {% endif %}
            </td>
            <td>
    {% if request.title != '' %}
                <div >{{ request.title }}</div>
    {% endif %}
                <a href="{{ path('UrbantCConvertBundle_request_detail', {'id': request.id}) }}">{{ request.url }}</a>
            </td>
            <td>{{ request.getStatusName() }}</td>
            <td>{{ request.created|date('Y-m-d H:i:s') }}</td>
        </tr>
{% else %}
            <tr>
            <td colspan="5">No item found.</td>
        </tr>

{% endfor %}

        </table>

        <div class="pagination">
            {{ pagerfanta(pager, 'twitter_bootstrap') }}
        </div>
    
        <div class="well">
            <select name="type">
                <option value="d">DELETE</option>
            </select>
            
            <input type="submit" name="submit" value="実行" class="btn-warning" />
            
        </div>
    </form>

</div>
{% endblock %}